/* POPPIN FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.app {
    background-image: url("./assets/cold-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s ease;
    background-attachment: fixed;
}

.app.warm {
    background-image: url("./assets/warm-bg.jpg");
}

main {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    padding: 50px;
}

.search-box {
    width: 100%;
    margin: 0 0 75px;
}

.search-title {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: 0px 3px 3px rgba(50, 50, 70, 0.5);
}

.search-box .search-bar {
    display: block;
    width: 100%;
    padding: 15px;

    appearance: none;
    background: none;
    border: none;
    outline: none;

    background-color: white;
    border-radius: 25px;

    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

    color: #313131;
    font-size: 20px;

    transition: 0.4s ease;
}

.search-box .search-bar:focus {
    background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    outline: 2px solid rgba(255, 255, 255, 0.45);
    padding: 10px 0;
    background-color: rgba(1, 1, 1, 0.45);
    border-radius: 16px;
    transition: 0.4s ease;
    padding: 10px;
}

.location-box .date {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(1, 1, 1, 0.45);
    outline: 2px solid rgba(255, 255, 255, 0.45);
    border-radius: 16px;
    margin-top: 10px;
    transition: 0.4s ease;
}

.location-box .location:hover,
.location-box .date:hover {
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
}

.weather-box {
    text-align: center;
}

.weather-box .temp {
    position: relative;
    display: inline-block;
    margin: 30px auto;
    background-color: rgba(1, 1, 1, 0.45);
    border-radius: 16px;

    padding: 15px 25px;
    outline: 2px solid rgba(255, 255, 255, 0.45);

    color: #fff;
    font-size: 102px;
    font-weight: 900;

    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    text-align: center;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.forecast {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    flex-wrap: wrap;
}

.forecast .day {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    outline: 2px solid rgba(255, 255, 255, 0.45);
    padding: 10px 0;
    background-color: rgba(1, 1, 1, 0.6);
    border-radius: 16px;
    transition: 0.4s ease;
    margin: 0.25em;
    padding: 1em;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.forecast .day:hover {
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
}

.forecast .day .daytime {
    font-size: 15px;
    font-weight: 300;
}

.forecast .day .tempicon {
    font-size: 30px;
    font-weight: 900;
}

.forecast .day .temp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.forecast .day .temp table {
    width: fit-content;
}

.forecast .day .temp table tr td {
    text-align: left;
    padding: 0 10px;
}

button.forecast-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: rgba(1, 1, 1, 0.45);
    border-radius: 16px;
    border: none;
    outline: none;
    color: #fff;
    outline: 2px solid rgba(255, 255, 255, 0.45);
    font-size: 20px;
    font-weight: 500;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
    transition: 0.4s ease;
    cursor: pointer;
    margin-top: 1em;
}
